
<div class="log-in standard-modal">
  <form action="<%= session_url %>" method="post">
    <h1>Log In to PinFlix</h1>
    <p>PinFlix is a movie discovery web application inspired by Pinterest</p>

    <div class="input">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    </div>
    <div class="input">
      <input type="text" name="user[username]" id="user_username" value="Username"></input>
    </div>
    <div class="input">
      <input type="password" name="user[password]" id="user_password"></input>
    </div>

    <p class="errors"><%=flash[:errors].join("<br>") if flash[:errors] %></p>

    <div class="division"></div>

    <div class="action-links standard-form-button group">
      <a href="<%= new_user_url %>">Sign up now</a>
      <button>Log In</button>
    </div>
  </form>
</div>
