/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

/*RESET*/
 body
 h1 p ul li a form input button div span
 section img figcaption {
   margin: 0;
   border: 0;
   padding: 0;
   outline: 0;

   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;

   background: inherit
 }

 /*// clear fix*/
 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 .errors {
   color: red;
 }

 body {
   text-align: center;
   background: #eee;
   margin: auto;
   font-family: sans-serif;
   font-size: 12px;
   font-weight: normal;
 }

 img {
   width: 100%;
   height: auto;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
 }

 img:hover {
   background: #000;
 }

 .input {
   text-align: center;
   display: block;
   margin: 10px auto;
 }

 textarea {
   text-align: left;
   font-size: 14px;
   background: #eee;
   padding: 10px;
   border: none;
   border-radius: 5%;
   color: #aaa;
   width: 80%;
   height: 20px;
 }

 input {
   text-align: left;
   font-size: 20px;
   background: #eee;
   border: 1px solid #aaa;
   padding: 15px;
   border-radius: 5%;
   color: #aaa;
   width: 70%;
 }

 input:hover {
   color: #000;
   background: #fff;
 }

 input:required {
   border: 1px solid red;
 }

 input:focus {
   box-shadow: none;
   outline: 0;
 }

 input:active {
   box-shadow: none;
   outline: 0;
 }

 a {
   text-decoration: none;
   color: #525252;
   font-weight: bold;
   font-size: 14px;
 }

 .divison {
   border-bottom: 1px solid #ccc;
   margin: 10px 0;
   display: block;
 }

 p {
   margin: 0;
   font-size: 12px;
 }

 h1 {
   font-size: 24px;
 }

 .basic-modal {
  margin: 100px auto;
  position: relative;
  border-radius: 5%;
  box-shadow: 0 0 30px #ccc;
  display: block;
  background: #fff;
  padding: 20px 0;
 }

 ul {
   padding: 0;
   list-style: none;
 }

 figcaption {
   font-size: 14px;
   font-weight: bold;
 }

/* ------------------BUTTONS--------------------- */
 button:active {
   box-shadow: none;
   /*outline: 0;*/
 }

 button:focus {
   box-shadow: none;
   /*outline: 0;*/
 }

 button {
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  outline: none;
  line-height: normal;
 }


 .shade-button {
   display: block;
   margin: 10px auto;
 }

 .shade-button button {
   text-align: center;
   padding: 15px;
   color: #fff;
   border-radius: 5%;
   background-image: linear-gradient(#e3262e, #ab171e);
   border: 1px solid #aaa;
 }

/*Add button highlight*/
 .shade-button button:active {

 }
 .shade-button button:focus {

 }

 .basic-red-button {
   box-sizing: border-box;
   display: block;
   margin: 10px auto;
 }

 .basic-red-button button {
   text-align: center;
   padding: 15px;
   border-radius: 5%;
   color: #fff;
   background: #bd081c;
 }

 .small-red-button {
   box-sizing: border-box;
   display: block;
   margin: 10px auto;
 }

 .small-red-button button {
   text-align: center;
   padding: 5px;
   border-radius: 5%;
   color: #fff;
   background-image: linear-gradient(#e3262e, #ab171e);
   border: 1px solid #aaa;
 }

 .button-style-link a {
   font-weight: bold;
   padding: 10px;
   border-radius: 10%;
   color: #525252;
   text-decoration: none;
 }

 .button-style-link a:hover{
   color: #000;
   background: #fff;
 }

 .content {
   display:block;
   padding-top: 64px; /*move content below header*/
   position: relative;
   width: 100%;
   margin: 0 auto;
 }

 .hidden {
   display: none;
 }
