/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*RESET*/
 body
 h1 p ul li a form input button div span
 section img figcaption {
   margin: 0;
   border: 0;
   padding: 0;
   outline: 0;

   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;

   background: inherit
 }

 /*// clear fix*/
 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 .errors {
   color: red;
 }

 @keyframes animatedBackground {
 	from { background-position: 0 0; }
 	to { background-position: 0 100%; }
 }

.body {
   background: image-url('page_background_blurred.png') no-repeat;
   background-size: cover;
   background-repeat: repeat;
   animation: animatedBackground 200s linear infinite;
 }

 body {
   background: #eee;
   text-align: center;
   margin: auto;
   font-family: 'Droid Sans', sans-serif;
   font-size: 12px;
   font-weight: normal;
 }

 img {
   width: 100%;
   height: auto;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
 }

 .input {
   text-align: center;
   display: block;
   margin: 10px auto;
 }

 textarea {
   text-align: left;
   font-size: 14px;
   background: #eee;
   padding: 10px;
   border: none;
   border-radius: 5px;
   color: #aaa;
   box-sizing: border-box;
   width: 75%;
   height: 40px;
   border: 1px solid #aaa;
 }

 input {
   text-align: left;
   font-size: 20px;
   background: #eee;
   border: 1px solid #aaa;
   padding: 15px;
   border-radius: 5px;
   color: #aaa;
   width: 70%;
 }

 input:hover {
   color: #000;
   background: #fff;
 }

 input:required {
   border: 1px solid red;
 }

 input:focus,
 input:active  {
   box-shadow: none;
   outline: 0;
 }

 a {
   text-decoration: none;
   color: #525252;
   font-weight: bold;
   font-size: 14px;
 }

 .divison {
   border-bottom: 1px solid #ccc;
   margin: 10px 0;
   display: block;
   height: 1px;
 }

 p {
   margin: 0;
   font-size: 12px;
 }

 h1 {
   font-size: 24px;
 }

 .basic-modal {
  margin: 100px auto;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 30px #ccc;
  display: block;
  background: #fff;
  padding: 20px 0;
 }

 ul {
   padding: 0;
   list-style: none;
 }

 figcaption {
   font-size: 14px;
   font-weight: bold;
   overflow: hidden;
   text-overflow: ellipsis;
 }

/* ------------------BUTTONS--------------------- */
 button:active,
 button:focus,
 button:hover {
   box-shadow: none;
   outline: 0;
 }

 button {
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  outline: none;
  line-height: normal;
 }

 .shade-button {
   display: block;
   margin: 10px auto;
 }

 .shade-button button {
   text-align: center;
   padding: 15px;
   color: #fff;
   border-radius: 5px;
   background-image: linear-gradient(#e3262e, #ab171e);
   border: 1px solid #fff;

 }

/*Add button highlight*/
 .red-shade button:active,
 .red-shade a:active,
 .red-shade button:hover,
 .red-shade a:hover,
 .red-shade button:focus,
 .red-shade a:focus,
 .blue-shade button:active,
 .blue-shade a:active,
 .blue-shade button:hover,
 .blue-shade a:hover,
 .blue-shade button:focus,
 .blue-shade a:focus,
 .shade-button button:active,
 .shade-button button:focus,
 .shade-button button:hover,
 .basic-red-button button:active,
 .basic-red-button button:focus,
 .basic-red-button button:hover,
 .small-red-button button:focus,
 .small-red-button button:active,
 .small-red-button button:hover {
   -moz-box-shadow: inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow: inset 0 0 10px #000000;
   box-sizing: border-box;
 }

 .basic-red-button button:active,
 .basic-red-button button:focus,
 .basic-red-button button:hover,
 .small-red-button button:focus,
 .small-red-button button:active,
 .small-red-button button:hover {
   background: #ab171e;
 }

 .basic-red-button {
   box-sizing: border-box;
   display: block;
   margin: 10px auto;
 }

 .basic-red-button button {
   text-align: center;
   padding: 15px;
   border-radius: 5px;
   color: #fff;
   background: #bd081c;
 }

 .small-red-button {
   box-sizing: border-box;
   display: block;
   margin: 10px auto;
 }

 .small-red-button button {
   text-align: center;
   padding: 5px;
   border-radius: 5px;
   color: #fff;
   border: 1px solid #aaa;
   background: #e3262e;

 }

 .red-shade button,
 .red-shade a {
   background-image: linear-gradient(#e3262e, #ab171e);
   color: #fff;
 }

 .blue-shade button,
 .blue-shade a {
   background-image: linear-gradient(#3B5998, #263961);
   color: #fff;
 }

 .button-style-link a {
   font-weight: bold;
   padding: 10px;
   border-radius: 5px;
   text-decoration: none;
   border: 1px solid #aaa;
   box-shadow: 0 0 10px #ccc;
 }

 .content {
   display:block;
   padding-top: 55px; /*move content below header*/
   position: relative;
   width: 100%;
   margin: 0 auto;
 }

 .hidden {
   display: none;
 }

 .my-gallery-class {
    margin: 0px auto;
 }

 .required {

 }

 .invalid input,
 .invalid textarea {
   border: 3px solid red;
 }

 .grid-item {
  margin-bottom: 10px;
}

html {
  overflow-y: scroll;
}

.page {
  height: 100%;
  background: #eee;
}

.left {
  float: left;
  display: block;
}

.right {
  float: right;
  display: block;
}

.loading {
  padding-bottom: 50px;
}
