// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index-item {
  width: 236px;
  margin: auto 5px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px #ccc;
  border: 1px solid #ccc;
  float:left;
}

.board-index {
  text-align: left;
  font-weight: normal;
}

.board-index img:first-child {

}

.board-index img {

}
