// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-form section {

}
.comment-form textarea {
}

.comment button {
  float: right;
  position: relative;
}

.comment a {
  margin: 5px 0;
  display: block;
}

.comment-show {
  display: flex;
  justify-content: space-between;
}

.comment-show p {
  width: 80%;
  word-wrap: break-word;
}
