// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-form section {

}
.comment-form textarea {
}

.comment-form button {
}

.comment button {
  float: right;
}

.comment a {
  margin: 5px 0;
  display: block;
}
