.footer-center {
  padding: 1px 20px;
  opacity: .9;
  text-align: left;
  display: block;
  height: 100%;
  background-color: #fff;
}

.footer {
  margin-top: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
