/* ------------------HEADER--------------------- */
.header{
  display: block;
  height: 54px;
  position: fixed;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  width: 100%;
  z-index: 1000;
  min-width: 900px;

}

.header-center{
  margin: 0;
  display: block;
  width: 100%;
  min-width: 1157px;
}

.header-right{
  display: block;
  padding: 10px 20px;
  float: right;
  width: 265px;
  position: relative;
  overflow: auto;
}

.header-left{
  display: block;
  padding: 10px 20px;
  float: left;
  height: 32px;
  position: relative;
  width: 70%;
}

.search-bar {
  vertical-align: middle;
  float: left;
  background: transparent;
  border: 0;
  width: 90%;
}

.search-bar input {
  overflow: hidden;
  border-top: 1px solid #dfdfdf;
  background-color: #f3f3f3;
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#f5f5f5));
  background: -webkit-linear-gradient(#f0f0f0, #f5f5f5);
  background: linear-gradient(#f0f0f0, #f5f5f5);
  box-sizing: border-box;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  border: 1px solid #d6d3ce;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.12) inset;
  box-shadow: 0 0 3px rgba(0,0,0,0.12) inset;
  font-size: 14px;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #a7a7a7;
  font-size: 16px;
  font-weight: 600;
  height: 30px;
  line-height: 20px;
  padding: 6px 0 6px 4px;
  width: 100%;
}

.search-results {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  height: 200px;
  background: #fff;
  opacity: .9;
  overflow: scroll;
}

.search-results ul{
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}

.search-results li {
  padding: 5px 0 5px 10px;
  text-align: left;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-results span {
  text-align: right;
}

.search-bar:active .search-results,
.search-bar:focus .search-results,
.search-bar:hover .search-results {
  display: block;
}

.header-right > div {
  float: left;
}
.user-menu {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: #fafafa;
   background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f5f5f5));
   background: -webkit-linear-gradient(#fff, #f5f5f5);
   background: linear-gradient(#fff, #f5f5f5);
   -webkit-font-smoothing: subpixel-antialiased;
   -moz-osx-font-smoothing: auto;
   background-color: #f5f5f5;

   border: 1px solid #d4d4d4;
   border-radius: 6px 0 0 6px;
   box-sizing: border-box;
   color: #818181;
   cursor: pointer;
   outline: none;
   padding: 0;
   position: relative;
   text-align: left;
   width: 195px;
 }

.user-link {
  float: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  white-space: nowrap; //cut off name if it's too long
  overflow: hidden;
  -ms-text-overflow: ellipsis; //...
  text-overflow: ellipsis;

  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  padding: 0 0 0 6px;
}

 .user-menu a {
   display: block;
 }

 .user-menu a:hover {
   color: #000;
   background: #fff;
 }

.logout {
  float: right;
  height: 34px;
}

.logout button{
  background-color: #bd081c;
  background: -webkit-gradient(linear, left top, left bottom, from(#e63d44), to(#c11a22));
  background: -webkit-linear-gradient(#e63d44, #c11a22);
  background: linear-gradient(#e63d44, #c11a22);

  border-color: #d4d4d4;
  border-radius: 0 6px 6px 0;
  height: 34px;
  padding: 6px;
  border: 1px solid #ccc;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}


.logo {
  float: left;
  width: 42px;
  height: 30px;
  border-radius: 6px 0 0 6px;
  padding: 2px;
}

.logo img{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  margin: auto 0;
}

.buttonbar
{
 -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: #fafafa;
   background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f5f5f5));
   background: -webkit-linear-gradient(#fff, #f5f5f5);
   background: linear-gradient(#fff, #f5f5f5);
   -webkit-font-smoothing: subpixel-antialiased;
   -moz-osx-font-smoothing: auto;
   background-color: #f5f5f5;
   border: 1px solid #d4d4d4;

   box-sizing: border-box;
   color: #818181;
   cursor: pointer;
   outline: none;
}
