// Place all the styles related to the Pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pin-summary {
  text-align: left;
  font-weight: normal;
}

.pin-summary figcaption {

}

.pin-summary a {
}

.pin-summary section {
  font-size: 12px;
  margin: 10px;
}

.pin-image {
  cursor: zoom-in;
}
