// Place all the styles related to the Pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pin-summary {
  text-align: left;
  font-weight: normal;
}

.pin-summary figcaption {

}

.pin-summary a {
}

.pin-summary section {
  font-size: 12px;
  margin: 10px;
}

.pin-image {
  cursor: zoom-in;
}

.new-pin {
  width: 100%;
  display: block;
}

.form {
  width: 680px;
  background: #fff;
  margin: auto;
}

.pin-form-left {
  width: 330px;
  float: left;
}

.pin-form-right {
  width: 330px;
  float: left;
}

.pin-board-list-item {
  border: 1px solid #ccc;
  padding: 5px;
  height: 50px;
  vertical-align: middle;
}

.pin-board-list-item figcaption {
  text-align: left;
  float: left;
  height: 100%;
}

.pin-board-list-item:hover .hidden{
  display: block;
}

.pin-to-board-button {
  float: right;
}

.pin-it-button {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 16px;
}

.pin-image-link {
  position: relative;
  display: block;
  width: 100%;
}

.pin-image-link:hover .hidden {
  display: block;
}

.pinitem:hover .hidden {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .1;
}

#pin_description {
  width: 80%;
}

.mini-thumb {
  width: 50px;
  height: 50px;
  border-radius: 0;
  float: left;
  margin-right: 5px;
}

.detail {
  width: 236px;
  margin: 0 auto;
}

#pin_file {
  display: none;
}

.pin-file-input {
  position: relative;
  cursor: pointer;
}

.file-upload {
  display: block;
  width: 75%;
  height: 34px;
  padding: 10px;
  left: 10%;
  font-size: 18px;
  color: #fff;
  background-image: linear-gradient(#e3262e, #ab171e);
  position: relative;
  border-radius: 5%;
  cursor: pointer;
  overflow: hidden;
}
