// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.log-in {
  width: 390px;
  height: 455px;
}


.footer-links {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  width: 100%;
  padding: 20px 40px;
  background: #eee;
  display: block;
}

.sign-up-link {
  float: left;
}

.log-in-action button {
  float: right;
  background: #eee;
}

.guest button {
  width: 307px;
  font-weight: bold;
  text-transform: uppercase;
}

.facebook {
  width: 307px;
}

#facebook-link {
  display: block;
  padding: 15px;
}

.sign-up .intro {
  margin-bottom: 20px;
}

.oauth-butttons div{
  margin: 50px 0;
}

.log-in .divison {
  margin: 20px;
}
