// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sign-up {
  width: 600px;
}

.log-in-button {
  right: 50px;
  text-align: right;
  margin-right: 20px;
}

.log-in-button a{
  background: #fff;
  border: 1px solid #aaa;
  box-shadow: 0 0 10px #ccc;
}

.log-in-button a:hover {
  color: #000;
  background: #fff;
}

.sign-up input {
  width: 50%;
}

.sign-up-button {
}

.sign-up-button button{
  width: 330px;
}
