// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sign-up {
  width: 600px;
}

.log-in-button {
  right: 50px;
  text-align: right;
  margin-right: 20px;
}

.sign-up input {
  width: 50%;
}

.sign-up-button {
}

.sign-up-button button{
  width: 330px;
}
